*{
    margin:0;
    padding:0;
    overflow: hidden;
}
#help{
    position: absolute;
    width: 550px;
    height: 90px;
    top: 100px;
    left: 100px;
    margin: 0px auto;
    background-color: #96858F;
    border: 10px #6D7993 double;
    opacity: 0.8;
}