*{
    margin:0;
    padding:0;
    overflow: hidden;
}
#help{
    position: absolute;
    width: 650px;
    height: 120px;
    top: 0px;
    margin: 0px auto;
    background-color: #96858F;
    border: 10px #6D7993 double;
    opacity: 0.8;
    font-family: Book Antiqua;
}

#move{
    position: absolute;
    top: 0px;
    left: 0px;
}